include AUTHORS
include INSTALL
include LICENSE
include README.rst
include MANIFEST.in
recursive-include doc *
recursive-include tests *
recursive-include ratings/static *
recursive-include ratings/templates *
recursive-include ratings/redsolution_setup/templates *